{# empty Twig template #}
{# empty Twig template #}
{% extends "EPlanPlanningBundle::template.html.twig" %}
{%block  titrePage%}
{%endblock %}
{% block contenu %}
    <section class="content-header">
          <h1>
            Attribution d'Ec à {{ens.prenom}} {{ens.nom}}
            <!--small>preview of simple tables</small-->
          </h1></br> </br>
          <!--ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Simple</li>
          </ol-->
          
      
         
          
          
          
               <!-- <section class="content">Main content -->
        
               <div style="margin-bottom: 20px; float: right;">
                   <form method="" action=""><input type="text" placeholder="Tapez un code">
                                             <input type="submit" value="Rechercher">
                   </form>
               </div>
            <form method="POST" action="{{path('e_plan_planning_ec_enseignant')}}">
                <label style="font-size: 15px;">Genre : </label><select name="type" style="margin-bottom: 20px;">
              <option value="CM">Cours Magistral</option>
              <option value="TD">Travaux Dirrigés</option>
              <option value="TP">Travaux Pratiques</option>
          </select>
                <input type="hidden" name="id" value="{{ens.id}}">
              <div class="box">
                <!--div class="box-header with-border">
                  <h3 class="box-title">B</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table class="table table-bordered">
                   
                    <tr><th style="width: 20px"></th>
                      <th style="width: 20px">#</th>
                      <th>Code</th>
                      <th>Libelle</th>
                      <!--th style="width: 50px">Libelle</th-->
                    </tr>
                    {% for ec in listEc %}
                    <tr>
                      <td><input type="checkbox" name="ecEns[]" value="{{ec.id}}" /><!--span class="badge bg-red">55%</span--></td>  
                     <!--a href="{{path('e_plan_planning_index_enseignant')}}">Plus</a--><td>{{ec.id}}</td>
                      <td>{{ec.code}}</td>
                      <td>{{ec.libelle}}
                        <!--div class="progress progress-xs">
                          <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                        </div-->
                      </td> 
                      <!--td> <a href="{{path('e_plan_planning_index_enseignant')}}">Plus</a></td-->
                    </tr>
                    {% endfor %}
                  </table>
                   
                 
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                  <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">&raquo;</a></li>
                  </ul>
                </div>
              </div><!-- /.box -->
              
               <input class="btn btn-primary" style="margin-right: 50px;" type="submit" value="allouer">
               <input class="btn btn-primary" style="margin-right: 50px;" type="reset" value="Annuler">
              <form style="display :inline-block;" method="post" action="{{path('e_plan_planning_modif_enseignant')}}">
               <input type="hidden" name="id" value="{{ens.id}}">
               <input  class="btn btn-primary" type="submit" value="Back">
               </form>  
              </form>
               
               <!--/section-->
         
        </section>

     
    
 {% endblock %}